<!-- Header -->
<div class="header" role="banner">
  <img width="40" alt="Profile Logo"
    src="/assets/images/avatar.jpg" />
  <span>PORTFOLIO</span>
  <div class="menue_side">
    <ul>
      <li style="--clr:#ffffff;">
        <h2><a routerLink="my-profile" data-text="&nbsp;PROFILE">&nbsp;PROFILE&nbsp;</a></h2>
      </li>
      <li style="--clr:#ffffff;">
        <h2><a routerLink="experience" data-text="&nbsp;EXPERIENCE">&nbsp;EXPERIENCE&nbsp;</a></h2>
      </li>
      <li style="--clr:#ffffff;">
        <h2><a routerLink="projects" data-text="&nbsp;PROJECTS">&nbsp;PROJECTS&nbsp;</a></h2>
      </li>
    </ul>
  </div>
</div>